body {
	background-color: #303030;
	color: #ffffff;
	font-family: 'Josefin Sans', sans-serif;
}

.top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}

.top div h2 {
	padding-right: 30vw;
	padding-left: 5vw;
	font-size: 3rem;
}

#zegar {
	position: absolute;
	right: 5%;
	font-size: 2rem;
	user-select: none
}

hr {
	max-width: 90vw;
	margin-top: -20px;
}

.me {
	background-color: #FF7043;
	border: 4px solid #E64A19;
	width: 100px;
	height: 100px;
	cursor: pointer;
	text-align: center;
	user-select: none
}

.me:hover {
	background-color: #D84315;
	border: 4px solid #BF360C;
	color: #fff
}

.contact {
	background-color: #66BB6A;
	border: 4px solid #43A047;
	width: 100px;
	height: 100px;
	cursor: pointer;
	text-align: center;
	user-select: none
}

.contact:hover {
	background-color: #2E7D32;
	border: 4px solid #1B5E20;
	color: #fff
}

.projects {
	background-color: #29B6F6;
	border: 4px solid #039BE5;
	width: 100px;
	height: 100px;
	cursor: pointer;
	text-align: center;
	user-select: none
}

.projects:hover {
	background-color: #0277BD;
	border: 3px solid #01579B;
	color: #fff
}

.box {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	margin-top: 10vh;
}

.box1 {
	display: flex;
	justify-content: space-between;
	max-width: 20vw;
	flex-wrap: wrap;
	align-items: center;
}

.box1 div {
	margin: 10px;
}

.box2 h2 {
	background-color: #F44336;
	border: 4px solid #D32F2F;
	font-size: 1.5rem;
	text-align: justify;
	padding: 50px;
	width: 35vw;
	height: 240px;
	box-sizing: border-box;
	line-height: 3rem;
}

#sq6 {
	display: flex;
	justify-content: space-around;
	margin-top: 5vh;
	max-width: 40vw;
	margin-left: 30vw;
}

.fb {
	color: #fff
}

.fb:hover {
	color: #3B5998
}

.tw {
	color: #fff
}

.tw:hover {
	color: #1DA1F2
}

.git {
	color: #fff
}

.git:hover {
	color: #333
}

.yt {
	color: #fff
}

.yt:hover {
	color: #DB4437
}

.end {
	font-size: 1.3rem;
	margin-top: 25vh;
}

/*  **********************
        ***** for Mobile *****
        ********************** */
@media only screen and (max-width: 425px) {
	body {
		overflow-x: hidden;
	}

	.top div h2 {
		padding-right: 30vw;
		padding-left: 5vw;
		font-size: 2rem;
	}

	#zegar {
		position: absolute;
		right: 5%;
		font-size: 1.5rem;
	}

	hr {
		max-width: 90vw;
		margin-top: -20px;
	}

	.square {
		border: 1px solid #ffffff;
		width: 70px;
		height: 70px;
		cursor: pointer;
	}

	.box {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		margin-top: 10vh;
		flex-direction: column;
		align-items: center;
	}

	.box1 {
		display: flex;
		justify-content: flex-start;
		max-width: 100vw;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
	}

	.box1 div {
		margin: 0 px;
	}

	.box2 h2 {
		font-size: 0.8rem;
		text-align: justify;
		padding: 5px;
		padding-top: 20px;
		width: 80vw;
		height: 160px;
		border: 2px solid #fff;
		box-sizing: border-box;
		line-height: 1.5rem;
		margin-top: 45px;
	}

	#sq6 {
		display: flex;
		justify-content: space-around;
		margin-top: 30vh;
		max-width: 50vw;
		margin-left: 25vw;
	}

	/* #sq6 div{
        max-width: 50px;
        max-height: 50px;
    } */
	.end {
		font-size: 1rem;
		margin-top: 5vh;
	}

	#sq6 a i::before {
		font-size: 40px !important;
	}
}